<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Prices</h1>
				<ul class="pull-right breadcrumb">
					<li><%= link_to "Home", root_path %> </li>
					<li class="active">Prices</li>
				</ul>
			</div>
		</div><!--/breadcrumbs-->
		<!--=== End Breadcrumbs ===-->

<!-- Pricing -->
		<div class="container content">
			<div class="row margin-bottom-40">
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Free<span>Totally free, for ever</span></h3>
							<h4><i>€</i>0<i>.00</i> <span>Per Product</span></h4>
						</div>
						<ul class="pricing-content list-unstyled">
							<li><i class="fa fa-gift"></i> Free customisation</li>
							<li><i class="fa fa-inbox"></i> 24 hour support<span></span></li>
							<li><i class="fa fa-globe"></i> 10 GB Disckspace<span></span></li>
							<li><i class="fa fa-cloud-upload">  </i> Cloud Storage<span></span></li>
							<li><i class="fa fa-umbrella"></i> Online Protection<span></span></li>
						</ul>
						<div class="pricing-footer">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
							<%= link_to '<i class="fa fa-hand-peace-o"></i> Start Now'.html_safe, {:action=>'sign_up', :controller=>'users'}, :class=>'btn-u' %>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Basic<span>Labore et dolore magnaras</span></h3>
							<h4><i>$</i>8<i>.69</i><span>Per Month</span></h4>
						</div>
						<ul class="pricing-content list-unstyled">
							<li><i class="fa fa-gift"></i> Free customisation</li>
							<li><i class="fa fa-inbox"></i> 24 hour support</li>
							<li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
							<li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
							<li><i class="fa fa-umbrella"></i> Online Protection</li>
						</ul>
						<div class="pricing-footer">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
							<a class="btn-u" href="users/cart?basic"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Premium <span>Labore et dolore magnaras </span></h3>
							<h4><i>$</i>69<i>.99</i> <span>Per Month</span></h4>
						</div>
						<ul class="pricing-content list-unstyled">
							<li><i class="fa fa-gift"></i> Free customisation</li>
							<li><i class="fa fa-inbox"></i> 24 hour support</li>
							<li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
							<li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
							<li><i class="fa fa-umbrella"></i>Online Protection</li>
						</ul>
						<div class="pricing-footer">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
							<a class="btn-u" href="users/cart?premium"><i class="fa fa-shopping-cart"></i> Purchase Now</a>

						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Personlized<span>Labore et dolore magnaras</span></h3>
							<h4><i>$</i>99<i>.00</i><span>Per Month</span></h4>
						</div>
						<ul class="pricing-content list-unstyled">
							<li><i class="fa fa-gift"></i> Free customisation</li>
							<li><i class="fa fa-inbox"></i> 24 hour support</li>
							<li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
							<li><i class="fa fa-cloud-upload"></i>Cloud Storage</li>
							<li><i class="fa fa-umbrella"></i>Online Protection</li>
						</ul>
						<div class="pricing-footer">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor.</p>
							<a class="btn-u" href="home/contact"><i class="fa fa-shopping-cart"></i> Contact Us</a>

						</div>
					</div>
				</div>
			</div><!--/row-->
			<!-- End Pricing -->
		</div>
